<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhzren.drama.mapper.ClassifyMapper">

  <insert id="addClassify" parameterType="cn.xhzren.drama.entity.Plot">
    insert into drama_plot(id, content,parent_id,creator,create_time)
    values (
    #{id},
    #{content},
    #{parentId},
    #{creator},
    #{createTime}
    )
  </insert>

    <select id="getClassifyList" resultType="cn.xhzren.drama.entity.Classify">
      select * from drama_classify
      <where>
        parent_id = #{id}
      </where>
    </select>
</mapper>